<div class="container">
<%# <% current_user.boats.each do |boat| %>
<h1>Here are your list of bookings for the boats</h1>
<ul>
  <% @boats.each do |boat| %>
    <li>
      <div class="booking-card">
      <%= cl_image_tag boat.photo.key, height: 150, width: 200, crop: :fill %>
      <div class="booking-info">
      <h2><%= boat.name %></h2>
        <% boat.bookings.each do |booking| %>
          <p>From <%= booking.start_date %> to
          <%= booking.end_date %></p>
          <p><%= booking.status %></p>
        <% end %>
      </div>
      </div>
    </li>
  <% end %>

</ul>

</div>
