 <div class="container">

  <%# Title and message: %>
  <div class="m-5">
   <h1>My booking requests</h1>

    <%# I think we need to iterate here too, this line is not running
    where is the end? %>
    <% if @my_bookings.empty? %>
      <p>You currently have no booking demands</p>
    <% else %>

    <p class="mt-3">Waiting for owners acceptance</p>
  </div>


    <%# grid %>
    <div class="cards m-5">

      <% @my_bookings.each do |booking| %>
        <% if  booking.status == "pending" %>
          <div class="card-trip m-1">
            <div class="booking-pic">
              <%= cl_image_tag booking.boat.photo.key, height: 300, width: 400, crop: :fill %>
            </div>

            <div class="booking-info p-3 m-1">
              <h2><%= booking.boat.name %> in <%= booking.boat.location %> 📍</h2>
              <p class="mt-2"><strong>Dates: </strong><%= booking.start_date.strftime("%B %d, %Y") %> to
              <%= booking.end_date.strftime("%B %d, %Y") %></p>
              <p><strong>Status:</strong> <em><%= booking.status %></em></p>
              <p><strong>Price:</strong> <%= booking.total_price %> for <%= booking.total_days %> days</p>
            </div>

            <div class= "m-3 text-center">
              <%= link_to "Cancel booking" , booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn Mbtn-ghost" %>
            </div>

          </div>
        <% end %>
      <% end %>
    </div>

      <%# TODO: I dont understand this section history or answered requests?
      Makes sense showing the rejected with "price was"%>
      <h1 class="ms-5 mt-5">Previous bookings</h1>
      <div class="cards m-5">
      <% @my_bookings.each do |booking| %>
        <% if  booking.status != "pending" %>
          <div class="card-trip m-1">

          <div class="booking-pic">
          <%= cl_image_tag booking.boat.photo.key, height: 300, width: 400, crop: :fill %>
          </div>

          <div class="booking-info p-3 m-1">
          <h2><%= booking.boat.name %> in <%= booking.boat.location %> 📍</h2>
          <p class="mt-2"><strong>Dates: </strong> <%= booking.start_date.strftime("%B %d, %Y") %> to
          <%= booking.end_date.strftime("%B %d, %Y") %></p>

          <% if booking.status == "accepted" %>
            <p><strong>Status:</strong> <span class = "text-success"><%= booking.status %></span></p>
          <% else %>
            <p><strong>Status:</strong> <span class = "text-danger"><%= booking.status%></span></p>
          <% end %>
          <p><strong>Price:</strong> <%= booking.total_price %> for <%= booking.total_days %> days</p>

          </div>
          </div>
        <% end %>
      <% end %>
      </div>
    <% end %>

</div>
