 <div class="container">
   <h1>Booking demands</h1>


    <% if @my_bookings.empty? %>
      <p>You currently have no booking demands</p>
    <% else %>

      <p>Waiting for owners acceptance</p>
      <div class="cards m-5">

      <% @my_bookings.each do |booking| %>
        <% if  booking.status == "pending" %>
          <div class="card-trip m-1">

            <div class="booking-pic">
              <%= cl_image_tag booking.boat.photo.key, height: 300, width: 400, crop: :fill %>
            </div>

            <div class="booking-info p-2">
              <h2><%= booking.boat.name %> in <%= booking.boat.location %> 📍</h2>
              <p>From <%= booking.start_date.strftime("%B %d, %Y") %> to
              <%= booking.end_date.strftime("%B %d, %Y") %></p>
              <p>Status: <%= booking.status %></p>
              <p>The total price is <%= booking.total_price %></p>
            </div>
          </div>
        <% end %>
      <% end %>
      </div>

      <p>These are your previous bookings</p>
      <div class="cards m-5">
      <% @my_bookings.each do |booking| %>
        <% if  booking.status != "pending" %>
          <div class="card-trip m-1">

          <div class="booking-pic">
          <%= cl_image_tag booking.boat.photo.key, height: 300, width: 400, crop: :fill %>
          </div>

          <div class="booking-info p-2">
          <h2><%= booking.boat.name %> in <%= booking.boat.location %> 📍</h2>
          <p>From <%= booking.start_date.strftime("%B %d, %Y") %> to
          <%= booking.end_date.strftime("%B %d, %Y") %></p>
          <p>Status: <%= booking.status %></p>
          <p>Total price was <%= booking.total_price %></p>

          </div>
          </div>
        <% end %>
      <% end %>
      </div>
    <% end %>
