<div class="container">

  <%# Title and message: %>
  <div class="m-5">
    <h3>Requests made for your Boats</h3>

    <% if @pending_requests.empty? %>
      <p>You currently have no requests</p>
      <% else %>
      <p>Please Accept or reject</p>
  </div>
      <%# grid %>
      <div class="cards m-5">

      <% @pending_requests.each do |booking| %>
        <% if  booking.status == "pending" %>
          <div class="card-trip m-1">

            <div class="booking-pic">
              <%= cl_image_tag booking.boat.photo.key, height: 300, width: 400, crop: :fill %>
            </div>

            <div class="booking-info p-3 m-1">
              <h2><%= booking.boat.name %> in <%= booking.boat.location %> 📍</h2>
              <p class="mt-2"><strong>From </strong><%= booking.start_date.strftime("%B %d, %Y") %> to
              <%= booking.end_date.strftime("%B %d, %Y") %></p>
              <p><strong>Status:</strong> <%= booking.status %></p>
              <p><strong>Price:</strong><%= booking.total_price %> for <%= booking.total_days %> days</p>
            </div>

            <div class = "p-3">
              <%= link_to "Accept", accept_path(booking), data: {turbo_method: :patch} , class: "btn Mbtn-flat"%>
              <%= link_to "Reject", reject_path(booking), data: {turbo_method: :patch} , class: "btn Mbtn-ghost"%>
            </div>

          </div>
        <% end %>
      <% end %>
    </div>


      <p class="m-5">These are previous requests</p>
      <div class="cards m-5">
      <% @pending_requests.each do |booking| %>
        <% if  booking.status != "pending" %>
          <div class="card-trip m-1">

          <div class="booking-pic">
          <%= cl_image_tag booking.boat.photo.key, height: 300, width: 400, crop: :fill %>
          </div>

          <div class="booking-info p-3 m-1">
          <h2><%= booking.boat.name %> in <%= booking.boat.location %> 📍</h2>
          <p class="mt-2"><strong>From</strong> <%= booking.start_date.strftime("%B %d, %Y") %> to
          <%= booking.end_date.strftime("%B %d, %Y") %></p>
          <p><strong>Status:</strong> <%= booking.status %></p>
          <p><strong>Price:</strong> <%= booking.total_price %> for <%= booking.total_days %> days</p>

          </div>
          </div>
        <% end %>
      <% end %>
      </div>
    <% end %>
</div>
