<div class="container">


<h1 class="ms-5 mt-5">Dashboard</h1>
<div class="dashboard-button-container ms-5 mt-4">
  <%= link_to "My booking requests", mybookings_path, class: "btn Mbtn-flat" %>
  <%= link_to "Requests for my Boats", pendingrequests_path, class: "btn Mbtn-flat ms-5" %>
</div>

<h1 class="ms-5 mt-5">My boats</h3>

<div class="cards ms-5 mt-4 mb-5">
      <% @boats.each do |boat| %>
      <%# ## Card trip %>
      <div class="card-trip m-1">
        <%= link_to boat_path(boat) do %>

          <% if boat.photo.attached? %>
            <%= cl_image_tag boat.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>

          <div class="boat-infos p-3">
            <h2><%= boat.name.capitalize %></h2>
            <p><%= boat.location.capitalize %></p>
          </div>

        <% end %>

        <div class="buttons p-3">
          <%= link_to "Remove", boat_path(boat), class:"m-2", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn Mbtn-ghost" %>
        </div>
      </div>

    <% end %>

</div>
</div>
