<div class="container">

<div class="dashboard-button-container">
  <%= link_to "Booking demands", mybookings_path, class: "btn Mbtn-flat" %>
  <%= link_to "Booking requests", pendingrequests_path, class: "btn Mbtn-flat" %>
  <%= link_to "Add a boat", new_boat_path, class: "btn Mbtn-flat" %>
</div>


<div class="cards m-5">

      <% @boats.each do |boat| %>

      <%# ## Card trip %>
      <div class="card-trip m-1">
        <%= link_to boat_path(boat) do %>

          <% if boat.photo.attached? %>
            <%= cl_image_tag boat.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>

          <div class="boat-infos p-2">
            <h2><%= boat.name %></h2>
            <p><%= boat.location %></p>
          </div>

        <% end %>
      <%= link_to "Delete", boat_path(boat), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn Mbtn-ghost" %>
      </div>

    <% end %>

</div>
</div>
