
<div class="dashboard-button-container">
  <button type="button" class="dashbuttons"><%= link_to "Booking demands", mybookings_path %></button>
  <button type="button" class="dashbuttons"><%= link_to "Booking requests", pendingrequests_path %></button>
  <button type="button" class="dashbuttons"><%= link_to "Add a boat", new_boat_path %></button>
</div>

<div class="cards">

      <% @boats.each do |boat| %>
        <div class="boat-card">
          <% if boat.photo.attached? %>
            <%= cl_image_tag boat.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>

          <div class="boat-infos">
            <h2><%= boat.name %></h2>
          </div>

          <div class="buttons" style ="margin-right: 1rem;">
            <div class="boat-detail-card">
              <h5><%= link_to "See details!", boat_path(boat), class: "btn btn-flat" %></h5>
            </div>
          </div>

        </div>
      <% end %>

</div>
