
<div class="container">

  <div class="w-100 mt-5 text-center">
    <h1 style="color: #060b3d;"> <strong>Ready</strong> to <strong>sail away?</strong></h1>
    <p>From a city lake to the open sea, make your next boat ride plain sailing.</p>
  </div>

  <%# Search bar %>
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: boats_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search by location!"
          %>
        <%= submit_tag "Search", name: "", class: "Mbtn-flat" %>
      <% end %>

      <% if @boats.any? %>
        <% @boats.each do |boat| %>
        <% end %>
      <% else %>
        <em>Sorry, no boats found for your location.</em>
      <% end %>

    </div>

    <div class="p-3 m-5" style=" height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>

  <%# ## Card grid %>

  <h1 class="text-center my-5">Boats you can rent</h1>
  <h3><%= @boats.count %> boat(s) available</h3>

  <div class="cards">

    <% @boats.each do |boat| %>

      <%# ## Card trip %>
      <div class="card-trip mb-5">
        <%= link_to boat_path(boat) do %>

          <% if boat.photo.attached? %>
            <%= cl_image_tag boat.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>

          <div class="boat-infos p-3">
            <h2><%= boat.name.capitalize %></h2>
            <div class="d-flex justify-content-between">
            <p><%= boat.location.capitalize %></p>
            <p><%= number_to_currency(boat.price,  unit: "€", precision: 2)%> / day</p>
            </div>
            <p><%= boat.boat_type %></p>
          </div>

        <% end %>
      </div>

    <% end %>

  </div>
</div>
