<div class="container">

  <div class="w-100 m-0">
    <h1> <strong>Ready</strong> to <strong>sail away?</strong></h1>
    <p>From a city lake to the open sea, make your next boat ride plain sailing.</p>
  </div>

  <div class="" style=" height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <%# ## Card grid %>
  <div class="cards m-5">

    <% @boats.each do |boat| %>

      <%# ## Card trip %>
      <div class="card-trip m-1">
        <%= link_to boat_path(boat) do %>

          <% if boat.photo.attached? %>
            <%= cl_image_tag boat.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>

          <div class="boat-infos p-2">
            <h2><%= boat.name %></h2>
            <p><%= boat.location %></p>
          </div>

        <% end %>
      </div>

    <% end %>

  </div>
</div>
