<%= simple_form_for (@boat) do |f| %>
  <%= f.input :location %>
  <%= f.input :name %>
  <%= f.input :capacity %>
  <%= f.input :price %>

  <%= f.submit "Add a boat!" %>
<% end %>
<p><%= link_to "Back to all boats", boats_path%></p>
