
<div class="single-boat-card">
  <h1 class="single-boat-card-title"><%= @boat.name %>, <%= @boat.location %> </h1>
  <div class="top-section">
    <% if @boat.photo.attached?%>
      <%= cl_image_tag @boat.photo.key, height: 200, width: 100, crop: :fill%>
    <% else  %>
    <img src="https://plus.unsplash.com/premium_photo-1689177356545-cf029fdaf9cb?q=80&w=2680&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="replace img">
    <% end %>
  </div>
  <div class="bottom-section">
    <div class="single-boat-card-infos">
      <h2><%= @boat.name %></h2>
      <div>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="single-boat-card-user avatar-bordered" />
        <span class="username"> Owner <%= @boat.user.first_name %></span>
      </div>
      <div class="info-block">
        <%= image_tag "icons/style-three-pin-sailing-boat-7.png"%>
        <span class="boat-amenities"> <%= @boat.location %></span>
         <p class="boat-amenities-info"> Here is the location where you will board your boat</p>
      </div>
      <div class="info-block">
        <%= image_tag "icons/multiple-neutral-1_1.png"%>
        <span class="boat-amenities"> <%= @boat.capacity %> adults, no pets</span>
        <p class="boat-amenities-info"> For safety issues pets are not allowed onboard </p>
      </div>
      <div class="info-block">
        <%= image_tag "icons/cash-briefcase-8.png"%>
        <span class="boat-amenities"> From <strong><%= @boat.price %></strong> EUR per day</span>
         <p class="boat-amenities-info"> For half day fees, please contact the owner</p>
      </div>
    </div>
    <div class="boat-card-buttons">
      <div class="allBookings-show-card">
        <%= link_to "My booking requests", mybookings_path, class: "Mbtn btn-ghost boat-button" %>
      </div>
      <div class="book-show-card">
        <%= link_to "Book this Boat!", new_boat_booking_path(@boat), class: "Mbtn btn-flat boat-button" %>
      </div>
    </div>
  </div>
</div>
